.navigtaion {
  background-color: var(--bitblue) !important;
}

.logo {
  max-width: 20rem;
}

.brand {
  margin-right: 0 !important;
}
.cart {
  font-size: 30px;
}

.cartButton {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: relative;
}

.cartButton:hover {
  background-color: var(--toxicgreen);
}
