.picturesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
  margin-top: 0.5rem;
}

.picturesContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 8rem;
}

.imagesContainer {
  max-width: 35rem;
}

.pictureContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.pictureContainer {
  height: 30rem;
}

.infoContainer {
  max-width: 30rem;
}

.addToCartButton {
  background-color: var(--toxicgreen);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.4rem;
  max-width: 7rem;
  color: var(--mainfontcolor);
  font-family: var(--secondfont);
  width: 100%;
}

.addToCartButton:hover {
  background-color: var(--springgreen);
}

.removeFromCartButton {
  background-color: #8a1717;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.4rem;
  max-width: 7rem;
  color: var(--mainfontcolor);
  font-family: var(--secondfont);
  width: 100%;
}

.removeFromCartButton:hover {
  background-color: #974242;
}

.toast {
  position: absolute;
  top: 0;
}

.toastHeader {
  font-family: var(--secondfont);
  background-color: var(--toxicgreen) !important;
  color: var(--mainfontcolor);
}

.toastBody {
  font-family: var(--mainfont);
}

.toastHeaderRemove {
  font-family: var(--secondfont);
  background-color: #8a1717 !important;
  color: var(--mainfontcolor);
}

.goToCartButton {
  width: 100%;
  color: var(--mainfontcolor);
  font-family: var(--secondfont) !important;
  font-weight: var(--fontwhtsemibold) !important;
}
