.form {
  background-color: var(--toxicgreen);
  padding: 4rem;
  border-radius: 0.9rem;
}

.loginText {
  color: var(--mainfontcolor);
  text-align: center;
  margin-bottom: 2rem;
}

.label {
  font-weight: var(--fontwhtbold);
  font-family: var(--mainfont);
  color: var(--mainfontcolor) !important;
}

.fadedText {
  color: rgba(255, 255, 255, 0.8);
}

.checkBoxText {
  color: var(--mainfontcolor) !important;
}

.loginButton {
  background-color: var(--darkblue) !important;
  font-size: var(--ctatextsize);
  font-family: var(--secondfont);
  font-weight: var(--fontwhtsemibold);
  width: 100%;
  margin-top: 1rem;
  border: 0;
}

.loginButton:hover {
  background-color: var(--bitblue) !important;
}

.error {
  margin-bottom: 0.5rem;
  color: yellow;
}

.errorTextStyle {
  color: yellow;
}
