.formSignup {
  background-color: rgba(15, 14, 38, 0.8);
  padding: 4rem;
  border-radius: 0.9rem;
}

.loginText {
  color: var(--mainfontcolor);
  text-align: center;
  margin-bottom: 2rem;
}

.label {
  font-weight: var(--fontwhtbold);
  font-family: var(--mainfont);
  color: var(--mainfontcolor) !important;
}

.fadedText {
  color: rgba(255, 255, 255, 0.8);
}

.checkBoxText {
  color: var(--mainfontcolor) !important;
}

.signupButton {
  background-color: var(--springgreen);
  font-size: var(--ctatextsize);
  font-family: var(--secondfont);
  font-weight: var(--fontwhtsemibold);
  width: 100%;
  margin-top: 1rem;
  border: 0;
}

.signupButton:hover {
  background-color: var(--botsgreen);
  border: 0;
}
