.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--bitblue) !important;
}

.cardStyling {
  margin: 4rem 2rem;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.54);
  border: none;
  border-radius: 10px 10px 50px 50px;
}

.imgStyling {
  width: 100%;
  object-fit: cover;
  height: 15rem;
}

.cardBodyStyling {
  display: flex;
  flex-direction: column;
  background-color: var(--bitblue) !important;
  border-radius: 0 0 1rem 1rem;
}

.cardTitle {
  font-family: var(--secondfont) !important;
  color: var(--mainfontcolor);
  font-weight: var(--fontwhtbold);
  font-size: var(--ctatextsize);
}

.addToCartButton {
  background-color: var(--botsgreen);
  cursor: pointer;
}
