.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(187, 187, 187);
}

.cardStyling {
  margin: 4rem 2rem;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.54);
}

.imgStyling {
  width: 100%;
  object-fit: cover;
  height: 15rem;
}

.cardBodyStyling {
  display: flex;
  flex-direction: column;
}
