.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--bitblue) !important;
}

.cardStyling {
  margin: 4rem 2rem;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.54);
  border: none;
  border-radius: 10px 10px 50px 50px;
}

.imgStyling {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.cardBodyStyling {
  display: flex;
  flex-direction: column;
  background-color: var(--bitblue) !important;
  border-radius: 0 0 1rem 1rem;
}

.cardTitle {
  font-family: var(--secondfont) !important;
  color: var(--mainfontcolor);
  font-weight: var(--fontwhtbold);
  font-size: var(--ctatextsize);
}

.addToCartButton {
  background-color: var(--toxicgreen);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.4rem;
  max-width: 7rem;
  color: var(--mainfontcolor);
  font-family: var(--secondfont);
  width: 100%;
}

.addToCartButton:hover {
  background-color: var(--springgreen);
}

.removeFromCartButton {
  background-color: #8a1717;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.4rem;
  max-width: 7rem;
  color: var(--mainfontcolor);
  font-family: var(--secondfont);
  width: 100%;
}

.removeFromCartButton:hover {
  background-color: #974242;
}

.priceContainer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.seeMoreButton {
  width: 100%;
  color: var(--mainfontcolor);
  font-family: var(--secondfont) !important;
  font-weight: var(--fontwhtsemibold) !important;
}

.toast {
  position: absolute;
  top: 0;
}

.toastHeader {
  font-family: var(--secondfont);
  background-color: var(--toxicgreen) !important;
  color: var(--mainfontcolor);
}

.toastBody {
  font-family: var(--mainfont);
}

.toastHeaderRemove {
  font-family: var(--secondfont);
  background-color: #8a1717 !important;
  color: var(--mainfontcolor);
}
