.footerStyling {
  text-align: center;
  color: var(--mainfontcolor) !important;
  background-color: var(--bitblue) !important;
  font-family: var(--mainfont);
  padding: 1rem 0;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.logo {
  width: 100%;
  max-width: 10rem;
}

.textFooter {
  font-family: var(--secondfont);
  font-size: var(--navtextsize);
}

.footerStylingAut {
  text-align: center;
  color: var(--mainfontcolor) !important;
  background-color: var(--bitblue) !important;
  font-family: var(--mainfont);
  padding: 1rem 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}
